body{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: rgb(217, 219, 226);

}

h1{
    font-family: 'Amatic SC', cursive;
    color: #303030;
    text-align: center;
    font-size: 50px;
}

.col{
    margin: 5px auto;
    width: 10vh
    text-align : center;
}

.row{
    display : flex;
    margin: 4px auto;

}

.col{
    margin: 5px;
}
#time{
    line-height: 1.5;
}

.fields{
    size: 50px;
}
