body{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: rgb(217, 219, 226);

}

h1{
    font-family: 'Amatic SC', cursive;
    color: #303030;
    text-align: center;
    font-size: 50px;
}

.col-sm-3{
    margin: 5px auto;
    text-align : center;
}

.row{
    display : flex;
    margin: 4px auto;

}

.col-sm-3{
  margin: 5px
}

#blanks{
  background-color: white;
}
