body{
    font-family: 'Encode Sans Condensed', sans-serif;
    text-align: center;
    font-size: 18px;
    background-color: rgb(217, 219, 226);

}

h1{
    font-family: 'Amatic SC', cursive;
    color: #303030;
    text-align: center;
    font-size: 70px;
}

.col{
    margin: 5px auto;
    width: 10vh
    text-align: center;
}

.row{
    display : flex;
    margin: 4px auto;

}

.col{
    margin: 5px;
}
.col-1{
  width: 50px;
}
#time{
    line-height: 1.3;
    width: 50px;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: #403d3d;
}

.date{
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  color: #403d3d;
}
.fields{
    size: 50px;
}
.container{
  margin: absolute;
}

.button:hover {
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  border: hidden;
}

button{
    border-radius: 3px;
    font-size: 30px;
    margin: 10px auto;
    padding: 0px 15px;
    background-color: rgb(119, 175, 13);
    border: none;
    color: white;
    font-family: 'Amatic SC', cursive;
    position: absolute;
}
.form-control{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
    width: 150px;

}
